.table {
    border: 3px solid !important;
    border-color: black !important;
    border-width: 3px !important;
}

table th, table td {
    border: 3px solid !important;
    border-color: black !important;
    border-left: none !important;
    border-right: none !important;
}

body {
    background-color: #EBEBEB;
    font-family: 'Karla', sans-serif;
}

.megabold {
    font-weight: 800;
}